<link rel="stylesheet" type="text/css" href="static/forms.css"/>

<div class="input" id="marked_list">
        <div id="controls">
            <input type="button" value="calculate" name="calculate"/>
            <br/>
            <input type="button" value="+" id="add" title="\[enter\]"/>
        </div>

        <div id="nums">
            <input type="number" class="single_in"/>
        </div>

        <script src="static/num_input.js"/>
</div>
