<link rel="stylesheet" type="text/css" href="static/forms.css"/>

<div class="input" id="marked_list">
        <div id="controls">
            <input type="button" value="calculate" name="calculate" title="\[ctrl + space\]"/>
            <br/>
            <input type="button" value="+" id="add" title="\[enter\]"/>
            <br/>
            <label class="toggle">
                <span class="context">this is a:</span>
                <input type="checkbox" class="toggle" id="sample"/>
                <span class="indicator" for="sample"></span>
            </label>
        </div>

        <div id="nums">
            <input type="number" class="single_in"/>
        </div>

        <script src="static/num_input.js"/>
</div>
