<link rel="stylesheet" type="text/css" href="static/forms.css"/>

<div class="input" id="marked_list">
        <div id="controls">
            <input type="button" value="calculate" name="calculate"/>
            <br/>
            <input type="button" value="+" id="add" title="\[enter\]"/>
        </div>
        <div class="pair">
            <input type="number" class="left"/>
            <input type="number" class="right"/>
        </div>

        <script src="static/paired_input.js"/>
</div>
