div#marked_list {
    position: relative;
}

input {
    width: 8em;
    border: none;
    border-bottom: 2px solid #1b4241;
    background-color: #0000;
    font-family: inherit;
    font-size: 1em;
}

div.pair input {
    width: 4em;
}

div.input div {
    vertical-align: top;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.input input[type="button"] {
    width: 8em;
    height: 1.8em;
    margin: 0.5em;
    display: inline-block;
    border: 2px solid #1b4241;
    background-color: #eaeaea;
}

div.input input[type="button"]:active {
    background-color: #aeaeae;
}

label.toggle {
    position: relative;
    display: inline-block;
    width: 8em;
    height: 2em;
    background-color: #0000;
    color: #eee;

    padding-top: 1em;
    margin-bottom: 2em;

    cursor: pointer;
}

label.toggle span.indicator {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

label.toggle span.context {
    position: relative;
    display: flex;
    width: 100%;

    justify-content: left;
    width: 100%;

    color: #000;
}

input.toggle:checked + span.indicator {
    background-color: #1b4241;
}

input.toggle:checked + span.indicator::after {
    content: "population";
}

span.indicator::after {
    content: "sample";
}

label.toggle input {
    display: none;
}

input[type="number"].single_in {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;
    line-height: 1em;

    font-family: inherit;
}

div.input div.pair {
    display: block;
}

span.out_num {
    padding-right: 0.5em;
}
