body { background: #fcfcfc; margin: 0px; padding: 0px; text-align: center; }

div#content { width: 80%; padding-left: 5%; text-align: center; }

div#header {
    margin-x: 0px;
    padding-x: 0px;
    width: 100%;
    text-align: left;
    font-family: 'sans-serif';
}

div#tests { width: 100%; }

div#header h1 {
    width: 50%;
    text-align: right;

    font-size: 1.5em;
    font-weight: 400;

    display: inline-block;
}

div#header span#navbar {
    display: inline-block;
    text-align: left;
    width: 48%;
}

div#header a { color: inherit; text-decoration: inherit; }

div#tests a {
    width: 100%;
    color: inherit;
    text-decoration: none;
}

div#tests a { display: block; }

div#tests a span {
    padding-left: 2%;
    padding-right: 2%;
    display: inline-block;
    width: 38%;
}

div#tests a span.category {
    color: #1b4241;
    text-align: right;
    text-decoration: none;
}

div#tests a span.name {
    text-align: left;
    text-decoration: none;
}
