div#metadata {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #777;
}

div#metdata div { padding-bottom: 0.3em; }

div#name {
    font-size: 1.4em;
}

div#metadata div#categ {
    font-size: 0.8em;
    color: #1b4241;
    padding-bottom: 0.5em;
}

div#input {
    font-family: 'sans-serif';
}

div#output {
    padding: 1em;
    font-family: 'sans-serif';
}
