<!-- header.html is prepended to every page where !HEADER! is specified. -->
<div id="header">
    <span id="navbar">
        <a href="https://gitlab.com/lincolnauster/stats_sh">git</a>
    </span>

    <h1><a href="/stats_sh">stats_sh</a></h1>
</div>
