<!-- test.html specifies a list entry on the index -->
<div class="test">
    <a href="!NAME!.html">
        <span class="category">!CATEGORY!</span>
        <span class="name">!NAME!</span>
    </a>
</div>
